.alert {
  padding: 20px 22rem;
  background-color: red; /* Red */
  color: white;
  margin-top: 2rem;
  border-radius: 5px;
  z-index: 1000;

  &-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: black;
    }
  }
}
