.header {
  height: 4.5rem;
  width: 100%;
  background-color: $color-primary;
  box-shadow: 1rem 0rem 1rem rgba($color-black, 60%);
  display: flex;
  justify-content: space-between;

  &-logout {
    color: $color-white;
    padding-left: 1rem;
  }

  &-left {
    position: relative;
  }

  &-logo {
    color: $color-white;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0.2rem;
    display: inline-block;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-left: 0.5rem;
  }

  &-right {
    margin-top: 1.3rem;
    color: $color-white;

    &-signin {
      padding-left: 1rem;
    }

    &-add {
      padding-right: 1rem;
    }

    &-back {
      border-radius: 5px;
      transition: all 0.2s;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      &:hover {
        background-color: rgba($color-white, 0.2);
      }
    }
  }

  &-input {
    margin-top: 0.7rem;
    font-family: inherit;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    height: 3rem;
  }

  &-search {
    color: $color-white;
    padding: 0.1rem 0.6rem;
    position: absolute;
    margin-left: 0.4rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
  }

  &-search:hover {
    color: $color-primary;
    background-color: $color-white;
  }
}

@media only screen and (max-width: 885px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6.5rem;
  }
}

@media only screen and (max-width: 517px) {
  .header {
    height: 9.5rem;

    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-search {
      margin-left: 19.4rem;
      margin-top: 3.6rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  .header {
    height: 19.5rem;

    &-search {
      margin-left: 0.4rem;
      margin-top: 7rem;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-add {
        padding-right: 0rem;
      }
    }
  }
}
