$color-primary: #1d4ed8;
$color-primary-light: #3b82f6;
$color-primary-dark: #1e3a8a;
$color-primary-light1: #93c5fd;
$color-primary-light2: #dbeafe;

$color-black: black;
$color-white: white;
$color-gold: #ffd700;

$color-grey-dark: #2d4848;
$color-grey-light: #23adade1;
$color-grey-light2: #cbe0dd;

$color-warning: red;
$color-success: green;
