.search-item {
  height: 20vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  border: solid 2px $color-primary;
  border-radius: 5px;
  grid-template-columns: 4fr 4fr 1fr;

  &-image-container {
    height: inherit;
    width: inherit;
  }

  &-image {
    height: 98%;
    width: inherit;
    border-radius: 5px;
    margin-left: -0.05rem;
    margin-top: -0.05rem;
  }
}
